/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 15%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #fff; /* Black */
    border-right: 5px solid #286956;
    border-top: 5px solid #286956;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    margin-top: 68px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #286956;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;

}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    font-weight: bold;
    color: white;
    background-color: #14342b;
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

a.active {
    font-weight: bold;
    color: white;
    background-color: #286956;
}

.button {
    position: relative;
    border: none;
    padding: 20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.nav-link:focus, .nav-link:hover {
    color: white;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.chart-container {
    width: 50%;
    height: 50%;
    margin: auto;
}