<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thmeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: head('Dashboard - UnPaper', '/css/dashboard.css')}"></head>
<body>
<header th:replace="~{fragments :: header}"></header>
<div class="container-fluid">
    <div class="row">
        <nav th:replace="~{fragments :: sidebar}"></nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">


            <div class="card chart-container mt-5" style="border:0;">
                <canvas id="chart"></canvas>
            </div>
            <div class="row" style="min-height: 50%; margin-top: 20px;">
                <div class="card chart-container" style="border:0;">
                    <canvas id="chart2"></canvas>
                </div>
                <div class="col">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Data</th>
                            <th scope="col">Descrição</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Opções</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">19/03/2021</th>
                            <td>Movimento 1</td>
                            <td style="color:red;text-align: right;"> - 250,00 €</td>
                            <td>
                                <button class="btn border" style="border-color: #286956; color: #286956;"><i
                                        class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </button>
                                <button class="btn border" style="border-color: #286956; color: #286956;"><i
                                        class="fa fa-trash"
                                        aria-hidden="true"></i>
                                </button>
                                <button class="btn border" style="border-color: #286956; color: #286956;"><i
                                        class="fa fa-check"
                                        aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">19/03/2021</th>
                            <td>Transação 1</td>
                            <td style="color:green; text-align: right;"> + 250,00 €</td>
                            <td>
                                <button class="btn border" style="border-color: #286956; color: #286956;"><i
                                        class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </button>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>


        </main>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js">
</script>
<script>
    // Add active class to the current button (highlight it)
    var header = document.getElementById("sidenav");
    var btns = header.getElementsByClassName("button");
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function () {
            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
        });
    }
</script>
<script>
    const ctx = document.getElementById("chart").getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["Janeiro", "Fevereiro", "Março",
                "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"],
            datasets: [{
                backgroundColor: 'rgba(161, 198, 247, 1)',
                borderColor: 'rgb(47, 128, 237)',
                data: [3100, 4090, 2040, 5000, 4200, 5000, 2000, 3200, 2000, 5150, 4200, 5000, 2050],
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                    }
                }]
            }
        },
    });
</script>

<script>
    const ctx2 = document.getElementById("chart2").getContext('2d');
    const myChart2 = new Chart(ctx2, {
        type: 'doughnut',
        data: {
            labels: ["Restauração", "Educação", "Seguros", "Passes Mensais", "Impostos",
                "Rendimentos", "Saúde"],
            datasets: [{
                data: [30, 40, 20, 50, 80, 90, 20],
                backgroundColor: ["#0074D9", "#FF4136", "#2ECC40",
                    "#FF851B", "#7FDBFF", "#B10DC9", "#FFDC00",
                    "#001f3f", "#39CCCC", "#01FF70", "#85144b",
                    "#F012BE", "#3D9970", "#111111", "#AAAAAA"]
            }]
        },
    });
</script>

</body>
</html>




