

<header th:fragment="menus">
    <nav class="navbar navbar-light navbar-static-top" style="background-color: #286956; width: 100%; color:white;" \>
        <div class="container" style="margin-left: 50px; min-width: 95%;">
            <div>
                <h1>UnPaper</h1>
            </div>

            <div style="float: right">
                <i class="fa fa-cog" style="font-size: xx-large"></i>
                <i class="fa fa-sign-out" style="font-size: xx-large; margin-left: 15px;"></i>
            </div>
        </div>
    </nav>
    <div class="sidenav" id="sidenav">
        <a href="#" class="nav-link active button">
            <i class="fa fa-bar-chart" aria-hidden="true"
               style="margin-right: 15px;"></i></i>Dashboard</a>
        <a href="#" class="nav-link button">Carteiras</a>
        <a href="#" class="nav-link button">Operações</a>
        <a href="#" class="nav-link button">Categorias</a>
        <a href="#" class="nav-link button">Beneficiarios</a>
    </div>
</header>
