<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thmeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: head('UnPaper - Gestor de Finanças Pessoais', '/css/index.css')}"></head>

<body>

<div class="container">
  <div class="row h-100" style="margin-top: 10%">
    <div class="col-md-6 text-align-center" style="margin-top: 8%; margin-bottom: 8%;">
      <h1>UnPaper</h1>
      <h2>Gerenciador de Finanças pessoais</h2>
      <h3>A aplicação que  vai mudar a sua forma de gerir o seu dinheiro.</h3>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <div class="tab-content">
        <ul class="nav nav-tabs" id="tabLogin" role="tablist">
          <li class="nav-item" role="presentation">
            <button style="color: #286956;" class="nav-link active" data-toggle="tab" data-bs-toggle="tab" data-bs-target="#login"
                    type="button" role="tab" aria-controls="login" aria-selected="true">Login
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button style="color: #286956;" class="nav-link" data-toggle="tab" data-bs-toggle="tab" data-bs-target="#register"
                    type="button" role="tab" aria-controls="register" aria-selected="true">Registar
            </button>
          </li>
        </ul>
        <div class="tab-pane fade show active border" id="login" style="height: auto;">


          <form name="SignInForm" action="/index/login" method="POST" style="margin: 20px;">
            <div class="mb-3">
              <label for="emailSignIn" class="form-label">Email</label>
              <input type="email" class="form-control" name="email" id="emailSignIn"
                     aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="passwordSignIn" class="form-label">Palavra-passe</label>
              <input type="password" class="form-control" name="password" id="passwordSignIn">
            </div>
<!--            <div class="mb-3 form-check">-->
<!--              <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--              <label class="form-check-label" for="exampleCheck1">Lembrar dos dados</label>-->
<!--            </div>-->
            <button type="submit" class="btn btn-primary" style="background-color: #286956; border-color: #286956;">Entrar</button>
          </form>
        </div>
        <div class="tab-pane fade border" id="register" style="height: auto">


          <!--/*@thymesVar id="userDTO" type="com.jacksonleonardo.unpaper.model.DTO.UserDTO"*/-->
          <form name="SignUpForm" th:object="${userDTO}" action="/index/signUp" method="POST"  style="margin: 20px;">
            <div class="mb-3">
              <label for="name" class="form-label">Nome</label>
              <input required type="text" class="form-control" th:field="*{name}" th:errorclass="is-invalid">
              <div class="invalid-feedback" th:errors="*{name}"></div>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" th:field="*{email}" th:errorclass="is-invalid">
              <div class="invalid-feedback" th:errors="*{email}"></div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Palavra-passe</label>
              <input type="password" class="form-control" th:field="*{password}" th:errorclass="is-invalid">
              <div class="invalid-feedback" th:errors="*{password}"></div>
            </div>
            <div class="mb-3">
              <label for="passwordSignUpConfirm" class="form-label">Confirmar palavra-passe</label>
              <input type="password" class="form-control" id="passwordSignUpConfirm">
            </div>
            <button type="submit" class="btn btn-primary" style="background-color: #286956; border-color: #286956;">Criar conta</button>
          </form>


        </div>
      </div>

    </div>


  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>
</html>