<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thmeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Gerenciador de Finaças Pessoais</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/carteiras.css">
    <nav class="navbar navbar-light navbar-static-top" style="background-color: #286956; width: 100%; color:white;" \>
        <div class="container" style="margin-left: 50px; min-width: 95%;">
            <div>
                <h1>UnPaper</h1>
            </div>

            <div style="float: right">
                <i class="fa fa-cog" style="font-size: xx-large"></i>
                <i class="fa fa-sign-out" style="font-size: xx-large; margin-left: 15px;"></i>
            </div>
        </div>
    </nav>
    <div class="sidenav" id="sidenav">
        <a href="#" class="nav-link active button">
            <i class="fa fa-bar-chart" aria-hidden="true"
               style="margin-right: 15px;"></i></i>Dashboard</a>
        <a href="#" class="nav-link button">Carteiras</a>
        <a href="#" class="nav-link button">Operações</a>
        <a href="#" class="nav-link button">Categorias</a>
        <a href="#" class="nav-link button">Beneficiarios</a>
    </div>
</head>
<body>
<div class="container" style="width: 85%; float: right; margin-right: 12em; min-height: 100%;">
    <div class="row" style="margin-top: 25px;">
        <div class="col">
            <h1>Operações</h1>
        </div>
        <div class="col">
            <button type="button" class="btn btn-outline-success btn-cria" data-bs-toggle="modal"
                    data-bs-target="#createOperation">Nova operação
            </button>
        </div>
    </div>

    <div class="row" style="margin-top: 50px;">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Data</th>
                <th scope="col">Descrição</th>
                <th scope="col">Valor</th>
                <th scope="col" style="padding-left: 8%;">Opções</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">19/03/2021</th>
                <td>Movimento 1</td>
                <td style="color:red;text-align: right;"> - 250,00 €</td>
                <td style="padding-left: 8%;">
                    <button class="btn border" style="border-color: #286956; color: #286956;"><i
                            class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </button>
                    <button class="btn border" style="border-color: #286956; color: #286956;"><i class="fa fa-trash"
                                                                                                 aria-hidden="true"></i>
                    </button>
                    <button class="btn border" style="border-color: #286956; color: #286956;"><i class="fa fa-check"
                                                                                                 aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <th scope="row">19/03/2021</th>
                <td>Transação 1</td>
                <td style="color:green; text-align: right;"> + 250,00 €</td>
                <td style="padding-left: 8%;">
                    <button class="btn border" style="border-color: #286956; color: #286956;"><i
                            class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </button>

                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>


<!-- Modal -->
<div class="modal fade" id="createOperation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="min-width: 50%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Criar operação</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="nomeCategoria" class="form-label">Nome da operação</label>
                            <input type="text" class="form-control" id="nomeCategoria">
                        </div>
                        <div class="col">
                            <label for="carteiraInpt" class="form-label">Carteira</label>
                            <select class="form-select" aria-label="Default select example" id="carteiraInpt">
                                <option selected>Escolha uma carteira</option>
                                <option value="1">Carteira 1</option>
                                <option value="2">Carteira 2</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="dataVencInpt" class="form-label">Data vencimento</label>
                            <input type="date" class="form-control" placeholder="First name" aria-label="First name"
                                   id="dataVencInpt">
                        </div>
                        <div class="col">
                            <label for="dataPagInpt" class="form-label">Data pagamento</label>
                            <input type="date" class="form-control" id="dataPagInpt">
                        </div>
                        <div class="col">
                            <label for="valorInpt" class="form-label">Valor</label>
                            <input type="number" class="form-control" id="valorInpt">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="tipoOperacaoInpt" class="form-label">Tipo da operação</label>
                            <select class="form-select" aria-label="Default select example" id="tipoOperacaoInpt">
                                <option selected>Escolha um tipo de operação</option>
                                <option value="1">Comum</option>
                                <option value="2">Recorrente</option>
                                <option value="3">Parcelado</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="periodicidadeInpt" class="form-label">Periodicidade</label>
                            <select class="form-select" aria-label="Default select example" id="periodicidadeInpt">
                                <option selected>Escolha tempo de periodicidade</option>
                                <option value="1">Semanalmente</option>
                                <option value="2">Quinzenalmente</option>
                                <option value="3">Mensal</option>
                                <option value="4">Trimestral</option>
                                <option value="5">Anual</option>
                            </select>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <label for="divPrest" class="form-label">Parcelas</label>
                                    <input type="number" class="form-control" id="divPrest">
                                </div>

                                <div class="col">
                                    <label for="divPagas" class="form-label">Parcelas Pagas</label>
                                    <input type="number" class="form-control" id="divPagas">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="tipoCategoriaInpt" class="form-label">Categoria</label>
                            <select class="form-select" aria-label="Default select example" id="tipoCategoriaInpt">
                                <option selected>Escolha uma categoria</option>
                                <option value="1">Categoria 1</option>
                                <option value="2">Categoria 2</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="beneficiarioInput" class="form-label">Beneficiario</label>
                            <select class="form-select" aria-label="Default select example" id="beneficiarioInput">
                                <option selected>Escolha um beneficiario</option>
                                <option value="1">Beneficiario 1</option>
                                <option value="2">Beneficiario 2</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="formaPagamentoInpt" class="form-label">Forma de pagamento</label>
                            <select class="form-select" aria-label="Default select example" id="formaPagamentoInpt">
                                <option selected>Escolha a forma de pagamento</option>
                                <option value="1">Dinheiro</option>
                                <option value="2">Cartão</option>
                                <option value="3">MbWay</option>
                                <option value="4">Vale presente</option>
                            </select>
                        </div>
                    </div>
                    <div class="row md-3">
                        <div class="col-7">
                            <label for="descricaoInpt" class="form-label">Descrição</label>
                            <textarea class="form-control" id="descricaoInpt" rows="3"></textarea>

                        </div>
                        <div class="col-5">
                            <label class="form-label" for="customFile">Anexo</label>
                            <input type="file" class="form-control" id="customFile"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn" style="background-color:#286956;color: white;">Criar beneficiario
                </button>
            </div>
        </div>
    </div>
</div>


