<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thmeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head('Nova Operação - UnPaper', '/css/operations.css')}"></head>
<body>
<header th:replace="~{fragments :: header}"></header>
<div class="container-fluid">
    <div class="row">
        <nav th:replace="~{fragments :: sidebar}"></nav>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            
            <div class="progress mt-5">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="50"
                     aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
            </div>

            <form th:object="${operationDTO}" method="post" action="/operations/new2">

                <div class="col-4" hidden>
                    <label for="wallet" class="form-label">Carteira</label>
                    <select class="form-select" aria-label="Default select example" th:field="*{wallet}">
                        <option selected value="n">Escolha uma carteira</option>
                        <option th:each="wallet : ${wallets}" th:value="${wallet.getID().toString()}" th:text="${wallet.getName()}"></option>
                    </select>
                </div>

                <div class="col-4" hidden>
                    <label for="operationType" class="form-label">Tipo de operação</label>
                    <select class="form-select" th:field="*{operationType}">
                        <option value="common">Comum</option>
                        <option value="installment">Parcelamento</option>
                        <option value="recurrent">Recorrente</option>
                    </select>
                </div>

                <div class="row-12 mt-3">
                    <label id="operationNameLabel" for="operationName" class="form-label">Nome</label>
                    <input type="text" id="operationName" class="form-control" th:field="*{name}" th:errorclass="is-invalid">
                    <div class="invalid-feedback" th:errors="*{name}"></div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="beneficiary" id="beneficiaryLabel" class="form-label">Beneficiário</label>
                        <select id="beneficiary" class="form-select" th:field="*{payee}">
                            <option selected value="n">Selecione um beneficiário</option>
                            <option th:each="payee : ${payees}" th:value="${payee.getID().toString()}" th:text="${payee.getName()}"></option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="operationType" id="operationTypeLabel" class="form-label">Categoria</label>
                        <select id="operationType" class="form-select" th:field="*{category}">
                            <option selected value="n">Selecione uma categoria</option>
                            <option th:each="category : ${categories}" th:value="${category.getID().toString()}" th:text="${category.getName()}"></option>
                        </select>
                    </div>
                </div>
                <div class="row-12">
                    <label class="form-label " id="descriptionLabel " for="description">Descrição</label>
                    <textarea class="form-control " id="description " rows="3 " th:field="*{description}"></textarea>
                </div>

                <div class="row">
                    <div class="col-12">
                        <button type="reset" class="btn btn-danger" th:onclick="'window.location.href=\'/operations/\''">
                            Cancelar
                        </button>
                        <button type="reset" class="btn btn-warning" th:onclick="'window.history.back()'">
                            voltar
                        </button>
                        <button type="submit" class="btn"
                                style="background-color:#286956;color: white;"> Próximo</button>
                    </div>
                </div>
            </form>

        </main>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>
</html>